{% extends 'base.html' %}

{% block title %}{{user.username}}{% endblock %}

{% block content %}
<div id="userInfo" class="container col-6">
    <h1>User Info</h1>
    <ul>
        <li>Username: {{user.username}}</li>
        <li>Email: {{user.email}}</li>
        <li>First name: {{user.first_name}}</li>
        <li>Last name: {{user.last_name}}</li>
    </ul>
</div>

<div id="feedbackDiv" class="container col-6">
    {% for item in user.feedback %}
        {% if item %}
            <div>
                <h3>{{item.title}}</h3>
                <p>{{item.content}}</p>
                <form>
                    <button class="btn btn-success btn-sm" 
                        formaction="/users/{{item.id}}/update"
                        formmethod="GET">Edit</button>
                </form>
                <form method="POST" action="/feedback/{{item.id}}/delete">
                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                </form>
            </div><br>
        {% endif %}
    {% endfor %}
    <form action="/users/{{user.username}}/feedback/add" method="GET">
        <button class="btn btn-primary">Add Feedback</button>
    </form>
</div>


{% endblock %}